{% set change_working_directory = True %}
{% include 'setup_shell.sh.j2' %}

echo "{{ ansi.BOLD_GREEN }}Running after script...{{ ansi.RESET }}"
{% for line in job.after_script -%}
echo "{{ ansi.BOLD_GREEN }}\$ {{ line|replace('"', '\\"') }}{{ ansi.RESET }}"
{{line}}
{% endfor %}
